
    <div class="row custyle">
		<h1 class="well">Manage Developers</h1>
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Name</th>
            <th>Package</th>
			<th>Projects</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
		<% @developers.each do |developer| %>
            <tr>
                <td><%= developer.name %></td>
                <td><%= developer.package %></td>
				<td><%= developer.projects.count %></td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="<%= edit_admin_developers_path(developer) %>"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="<%= edit_admin_developers_path(developer) %>" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
            </tr>
		<% end %>
        
    </table>
    </div>
	<div class="row">
		<div class="pull-left"><a class='btn btn-info btn-xs' href="<%= new_admin_developer_path %>">Add</a></div>
	<div class="pull-right">
		<%= will_paginate @developers %>
	</div>
	</div>
</div>