
    <div class="row custyle">
		<h1 class="well">Manage Projects</h1>
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Name</th>
            <th>Developer</th>
			<th>Location</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
        <% if @projects.count > 0 %>
		<% @projects.each do |project| %>
            <tr>
                <td><%= project.name %></td>
                <td><%= project.developer.name %></td>
				<td><%= "#{project.address.locality}, #{project.address.city}" %></td>
                <td class="text-center">
                    <a class='btn btn-info btn-xs' href="<%= admin_project_path(project) %>"><span class="glyphicon glyphicon-edit"></span> Show</a> 
                    <a class='btn btn-info btn-xs' href="<%= edit_admin_project_path(project) %>"><span class="glyphicon glyphicon-edit"></span> Edit</a> 
                    <%= link_to raw("<span class='glyphicon glyphicon-remove'>Del</span>"), admin_project_path( project ), :method => :delete , :class => "btn btn-danger btn-xs" %>                    
                    <!-- <a class="btn btn-danger btn-xs" href="<%#= admin_project_path(project) %>" method='delete'><span class="glyphicon glyphicon-remove"></span> Del</a></td> -->
            </tr>
		<% end %>
        <% else %>
            No projects found.
        <% end %>
        
    </table>
    </div>
	<div class="row">
		<!-- <div class="pull-left"><a class='btn btn-info btn-xs' href="<%= new_admin_project_path %>">Add</a></div> -->
	<div class="pull-right">
		<%= will_paginate @projects %>
	</div>
	</div>
</div>