<%= form_for [:admin, @prop_configuration],html: {id:"", role: "form"} do |f| %>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Configuration Details</h3>
	</div> 
	
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6 col-sm-12">				
				<div class="form-group">
					<%= f.label :name %>
					<%= f.text_field :name, class: "form-control", required: "required", placeholder: "Name" %>
				</div>
				<div class="form-group">
					<%= f.label :carpet %>
					<%= f.text_field :carpet, class: "form-control", required: "required", placeholder: "Carpet", rows: 5 %>
				</div>

			</div>

			<div class="col-md-6 col-sm-12">				
				<div class="form-group">
					<%=f.label :base_cost, class: "control-label"%><br/>
					<%= f.text_field :base_cost, class: "form-control ", tabindex: "3", required: "required" %>
				</div>
				<div class="form-group">
					<%=f.label :total_cost, class: "control-label"%><br/>
					<%= f.text_field :total_cost, class: "form-control ", tabindex: "3", required: "required" %>
				</div>
				<div class="form-group">
					<%=f.label :rate, class: "control-label"%><br/>
					<%= f.text_field :rate, class: "form-control ", tabindex: "3", required: "required" %>
				</div>
			</div>
			<%= f.hidden_field :project_id,:value => @project.id ,class: "form-control required"%>
			<div class="form-group">
				<%= f.submit "Save",:class => "btn btn-primary", tabindex: "9"%>
			</div>
		</div>
	</div>
</div>
<% end %>